header { 
} 

body { 
background-color: #FFFFFF;
} 

h1 { 
color: #000000;
text-align: center;
} 

h2 { 
text-align: center;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

nav {
color: blue;
text-align: left
}