header { 
} 

body { 
background-color: #FFFFFF;
} 

h1 { 
color: #000000;
text-align: center;
} 

h2 { 
text-align: center;
} 

ul.a {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: #dddddd;
}

li.a {
  float: left;
}

li.a {
  display: block;
  padding: 8px;
}

ul.b {
    list-style: square;
}

form{
    background-color: #dddddd;
    width: 348;
    padding: 10;
}
nav {
color: blue;
text-align: left
}